<!DOCTYPE html>
<html lang="en">

<body class="body"> 

    <header class="jumbotron">
        <div>
            <div>
                <div>
                    <h1>Cafe Inn Restaurant</h1>
                    <p>Good food and great vibes</p>
                  </div>
                <div>
                </div>
            </div>
        </div>
    </header>


   <button class="btn btn-secondary" (click)="myFunction()">Home</button>
   <router-outlet></router-outlet>

    <footer>
        <div class="footer">
            <div class="row">             
               
                <div class="col-6">
		              Tel.: +1 234 456 7890<br>
		              Fax: +1 245 465 5678<br>
		              Email: <a href="mailto:cafein@gmail.com">cafeinnfood@net</a>
		          
                </div>
                <div class="col-6"> 
                    <div>
                        <a href="http://google.com/+">Google+</a><br>
                        <a href="http://www.facebook.com/profile.php?id=">Facebook</a><br>
                        <a href="http://www.linkedin.com/in/">LinkedIn</a><br>
                        <a href="http://twitter.com/">Twitter</a><br>
                        <a href="http://youtube.com/">YouTube</a><br>
                        <a href="mailto:">Mail</a>
                    </div>
                </div>
           </div>
           <div class="row">             
                <div>
                    <p>© Copyright 2022 cafe Inn Restaurant</p>
                </div>
           </div>
        </div>
    </footer>

</body>

</html>
 
